/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  font-family: 'Raleway', sans-serif;
  background-color: #eeeeee;
}

p {
  color:black;
}


h1 {
  color:black;
}
//-----Nav bar styling---------------------//

.nav {
  background-color: #455A64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav a {
  color:#CFD8DC;
  text-decoration: none;
}
p#tagline {
  color:#CFD8DC;
  text-decoration: none;
}

.nav .left-nav {
  display: flex;
  justify-content:center;
}

.nav .left-nav p {
  margin-top: 17px;
  margin-left:20px;
  text-transform:uppercase;
  font-size:1.5em;
}

.nav .left-nav {
  display:flex;
  justify-content:space-between;
}

.nav .right-nav a {
  padding: 10px;
  font-size:1.2em;
  text-transform:uppercase;
  text-decoration: none;
}

#icon-gesture{
color:#CFD8DC;
font-size: 4em;
}

.btn-primary {
  background-color: #448aff;
  border-color: #448aff;
}

//----Index Styling-----------------------------//
#index-post-content {
  width:300px;
}

//----Post style--------------------------------//
#post-data {
  margin-bottom: 20px;
}

#post-title {
  font-size: 1.5em;
  margin-bottom: 12px;
}
#post-author {
  font-size: 1.2em;
  margin-bottom: 12px;
}
#post-author img {
  width:35px;
  height:35px;
  margin-right: 15px;
}

#post-date {
  font-size: 1.2em;
  margin-bottom: 12px;
}
#post-date img {
  width:35px;
  height:35px;
  margin-right: 15px;
}

#tags {
  font-size:1.2em;
}
#tags img {
  width:35px;
  height:35px;
  margin-right: 15px;
}
h3#post-project-img {
  font-size: 1.4em;
}
#post-project-img img {
  width:35px;
  height:35px;
  margin-right: 15px;
}

#post-content {
  border-left: 7px solid #FFC104;
  margin-left:20px;
  padding-left: 20px;
}

textarea#post_body.form-control {
  height:300px;
}


//-----Comment styling----------------------------------------//
#pencil img {
  width:40px;
  height:40px;
  margin-right: 15px;
}

#comments {
  border-left: 7px solid #FFC104;
  margin-left:20px;
  padding-left: 20px;
}


//---Footer styling -----------------------------------------//
footer {
  background-color: #455A64;
  height: 100px;
  margin-top:60px;
}
footer p {
  margin-left:10px;
  margin-top:20px;
}
#footer-tag {
  margin-top:20px;
}

//-----------FOOTER -- ICONS ---------------------------------//
span#heart-img { 
  padding: 7px;
}
#heart-img img {
  width: 30px;
  height:30px;
}
#ruby-logo img {
  width: 60px;
  height:60px;
}
.social-media img {
  width: 40px;
  height:40px;
  margin-left: 100px;
}




