// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//FOOTER STYLING
//
footer {
  height: 200px;
  margin-top:100px;
}

//FOOTER -- ICONS
span#heart-img { 
  padding: 7px;
}
#heart-img img {
  width: 30px;
  height:30px;
}
#ruby-logo img {
  width: 60px;
  height:60px;
}
.social-media img {
  width: 40px;
  height:40px;
  margin-right: 80px;
}

#tag_cloud {
  width:400px;
  line-height: 1.6em;
  .s { font-size: 0.8;
  color:red;
  }
  .m { font-size: 1.4;
  color:yellow;
  }
  .l { font-size: 2.0;
  color:green;
  } 
}