// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//TAGS STYLING
#tag_cloud .sm {
  width:400px;
  line-height: 1.6em;
  font-size: 1em;
  color:#b71c1c;
  text-decoration: none;
  font-weigh:bold;
  }
#tag_cloud .me {
  width:400px;
  line-height: 1.6em;
  font-size: 1.6em;
  color:#ffd600;
  text-decoration: none;
  }
#tag_cloud .lg {
  width:400px;
  line-height: 1.6em;
  font-size: 2.4em;
  color:#5c6bc0;
  text-decoration: none;
  }
#tag_cloud .xl {
  width:400px;
  line-height: 1.6em;
  font-size: 2.8em;
  font-weight:bold;
  color:#dd2c00;
  text-decoration: none;
  }

//FOOTER STYLING

footer {
  height: 200px;
  margin-top:100px;
}

//FOOTER -- ICONS
span#heart-img { 
  padding: 7px;
}
#heart-img img {
  width: 30px;
  height:30px;
}
#ruby-logo img {
  width: 60px;
  height:60px;
}
.social-media img {
  width: 40px;
  height:40px;
  margin-right: 80px;
}



