// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//-----Project Index page styling-----//
.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  width: 32%;
  margin: 5px;
}

#index-title {
  text-transform: uppercase;
  font-weight:bold;
  padding-bottom: 15px;
}
#index-project-title {
  padding-top:25px;
  padding-bottom: 8px;
  font-size:1.5em;
  text-transform: capitalize;
}
#project-create-date-index {
  font-size: 1em;
  margin-bottom: 15px;
}
#index-project-img img {
 width: 100%;
margin-bottom: 7px;
}


//----Project Show page styling ----//
#title {
  text-transform: uppercase;
  font-weight:bold;
  font-size: 1.3em;
  margin-bottom: 10px;
}

#project_img img {
  width: 300px;
  height: 250px;
  margin-bottom:15px;
}
#project-create-date {
  font-size: 1em;
  margin-bottom: 15px;
}

#project-content {
  border-left: 7px solid #FFC104;
  margin-left:20px;
  padding-left: 20px;
}
#project-content img {
  height:40px;
  width: 40px;
  margin-bottom: 15px;
}

.project-techno img {
  height:40px;
  width: 40px;
  margin-bottom: 15px;
  margin-right: 10px;
}

#project_git img {
  height:40px;
  width: 40px;
  margin-bottom: 15px;
  margin-right: 10px;
}
#project-www img {
  height:40px;
  width: 40px;
  margin-bottom: 15px;
  margin-right: 10px;
}
