<nav class="nav">
  <div class="left-nav">
    <i class="material-icons" id="icon-gesture">gesture</i>
    <p>A coding Journey.....</p>
  </div>

  <div class="right-nav">
    <a href="#">Portfolio</a>
    <a href="#">Sign In</a>
    <a href="#">Sign Up</a>
<!--    <ul>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Me</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Posts Admin</a>
            <a class="dropdown-item" href="#">Portfolio Admin</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sign Out</a>
      </li>
    </ul> -->
  </div>
</nav>
